@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Playwrite+DE+Grund:wght@100..400&display=swap');

body{
    /*background: radial-gradient( #131313, #805599, #d8af69);*/
    background: linear-gradient(#805599,#8f7b9b, #805599);
    color: #d3d3d3;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #d59d3d;
    font-family: "Playwrite DE Grund", cursive;
    /*font-family: "Gowun Batang", serif;**/
    font-weight: 400;
    /*background: linear-gradient( #d3a453, #844db4);*/
}
header img{
    height: 50px;
    padding: 0px 10px;
}
.info{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.games-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.game{
    margin: 50px;
    padding: 20px;
    background: #222;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game div{
    width: 382px;
}
.game img{
    width: 100%;
}
.game p{
    padding: 10px;
}
form{
    /*background: radial-gradient( #d8af69, #805599);*/
    background: #d3d3d355;
    border-radius: 5px;
    color: #131313;
    font-weight: 500;
}
.form-control{
    background: #d3d3d3;
}
.areas-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: #131313;
    color: #d3d3d3;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width:768px){
    .game{
        flex-direction: column;
    }
}
@media (max-width:576px){
    body{
        font-size: medium;
    }
    .game div{
        width: 320px;
    }
}