body{
    /*background: radial-gradient( #131313, #805599, #d8af69);*/
    background: #131313;
    color: #d3d3d3;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.info{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.games-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.game{
    margin: 50px;
    padding: 10px;
    background: #222;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game div{
    width: 382px;
}
.game img{
    width: 100%;
}
.game p{
    padding: 10px;
}

@media (max-width:768px){
    .game{
        flex-direction: column;
    }
}
@media (max-width:576px){
    body{
        font-size: medium;
    }
    .game div{
        width: 320px;
    }
}